# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Common libraries for data science
* Data Science tools

Some of the popular languages that Data Scientists use are:
1. R
2. Java
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. Seaborn
3. TensorFlow

|Data Science Tools|
-----------------------------
|RStudio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mohammad Faizan Minhas